.main-panel{
    display: grid;
    grid-template-rows: 70px 1fr auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
    margin-top: 75px;
    margin-left: 270px;
    margin-right:15px;
    overflow-y: auto;
}
.main-panel::-webkit-scrollbar {
    width: 5px;
  }
.main-panel::-webkit-scrollbar-thumb {
    
    background: rgb(255, 165, 0);
    border-radius: 10px;
  }
.main-panel::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(94, 94, 94);
  border-radius: 10px;
}
.category-panel{
    margin-bottom: 15px;
    grid-row: 1;
    height: 40px;
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    flex-wrap: no-wrap;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-left: 15px;
}
.category-panel:hover{
    overflow-x: scroll;
}
.category-panel::-webkit-scrollbar {
    height: 5px;
}


.category-panel::-webkit-scrollbar{
    height: 5px;
}
.category-panel::-webkit-scrollbar-thumb {
    background: rgb(92, 92, 92);
    border-radius: 10px;
}
.category-panel::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(216, 216, 216);
    border-radius: 10px;
  }

.category-panel a{
    text-decoration: none;
    color: black;
    white-space:nowrap;
}
.category-card{
    margin-right: 10px;
    background-color: rgb(85, 85, 85);
    padding: 7px;
    border-radius: 20px;
    border: 2px solid orange;
}
.category-card:hover{
    background-color: rgb(117, 117, 117);
}
.category-text{
    color: orange;
    flex: 1;
    font-size: 19px;
    font-weight: bold;
    user-select: none;
}
.category-card.active{
    
    background-color: orange;
    border: 2px solid black;
}
.category-card.active span{
    color: black;
}

.video-panel{
    grid-row: 2;
    margin-top: 15px;
    padding-left: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    grid-auto-rows: max-content;
    grid-gap:10px;
}
.video-container{
    display: flex;
    flex-direction: column;
    background-color: black;
    position: relative;
    border-radius: 10px;
}
#preview-1{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 12em;
    background-image: url("assets/video-1.png");
    background-size: cover;
}
#preview-2{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 12em;
    background-image: url("assets/video-2.jpg");
    background-size: cover;
}
#preview-3{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 12em;
    background-image: url("assets/video-3.jpg");
    background-size: cover;
}
#preview-4{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 12em;
    background-image: url("assets/video-4.jpg");
    background-size: cover;
}
#preview-5{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 12em;
    background-image: url("assets/video-5.jpg");
    background-size: cover;
}
.video-description{
    padding: 10px;
    display: flex;
    justify-content: space-between;

}
.description-avatar{
    width: 50px;
    border-radius: 50%;
    border: 2px solid orange;
    user-select: none;
}
.description-text-container{
    align-self: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 5px;
    color: orange;
}
.description-title{
    cursor: pointer;
    font-size: 1em;
}
.description-title::selection{
    background-color: orange;
    color: black;
}
.description-title:hover{
    
    color: coral;
}
.description-name{
    font-weight: bold;
    cursor: pointer;
}
.description-name::selection{
    background-color: orange;
    color: black;
}
.description-name:hover{
    color: coral;
}
.options{
    align-self: flex-end;
    color: orange;
    cursor: pointer;
}
.preview-container{
    position: relative;
}
.live{
    background-color: orange;
    position: absolute;
    left: 10px;
    top:10px;
    padding: 2px;
    border-radius: 10%;
    font-weight: bold;
}
.time{
    position: absolute;
    background-color:rgba(255, 165, 0, 0.5);
    bottom: 5px;
    right: 5px;
    border-radius: 10%;
}

.hovering-preview{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.72);
    color: orange;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    transition: opacity .4s, visibility .4s;
}
.preview-container:hover .hovering-preview{
    visibility: visible;
    opacity: 1;
}
.paw{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer{
    grid-row: 3;
    bottom: 0;
    padding: 15px;
    text-align: center;
}
.footer span::selection{
    background-color: rgba(0, 0, 0, 1);
    color: orange;
}
.footer i{
    user-select: none;
}
@media screen and (max-width: 1200px){
    .main-panel{
        margin-left: 100px;
    }
    .video-panel{
        padding-top: 15px;
        padding-left: 15px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
        grid-auto-rows: 1fr;
        grid-gap:10px;
    }


}