body{
    margin: 0;
    background-color: gray;
}
*{
    font-family: 'Courier New', Courier, monospace;
}

.header{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: sticky;
    top: 0;
    align-items: center;
    z-index: 9999;
}
.logo-wrapper{
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.search-bar-wrapper{
    flex: 1;
    display: flex;
    justify-content: center;
}
.right-menu-wrapper{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.notification-icon{
    margin-right: 30px;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
.dropdown-content {
    display: none;
    position: absolute;
    
    right: 0;
    background-color:rgb(212, 212, 212);
    z-index: 1;
  } 
.dropdown-content a {
    color: black;
    text-decoration: none;
    width: 100px;
    display: block;
  }
.fa-bell{
      color: orange;
  }
.fa-user-circle{
      color: orange;
  }
.dropdown-content a{
      padding: 5px;
      border: solid;
      border-color: darkgrey;
  }
.dropdown-content a i{
        margin-right: 5px;
  }
.log-out{
      color: red;
  }
.fa-cat{
      color: orange;
      cursor: pointer;
  }
.logo-text{
    color: orange;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    margin-left: 10px;
    user-select: none;
    cursor: pointer;
}
.tv-logo{
    padding-left: 5px;
    padding-right: 5px;
    background-color: orange;
    color: black;
    font-weight: bold;
    border-radius: 10px;
}

form {
    /* This bit sets up the horizontal layout */
    display:flex;
    flex-direction:row;
    border:1px solid black;
    padding:2px;
    width: 70%;
    
  }
  
  input[type=text] {
    width: 100%;
    outline: none;
    border: none;
    background-color: gray;
  }
  input[type=text]:focus {
    width: 100%;
    outline: none;
    border:2px solid orange;
    border-right: none;
  }
  .fa-search{
      color: orange;
  }
 
  .fa-microphone-alt{
      color: orange;
      margin-left: 10px;
      margin-top: 2px;
  }
  .fa-microphone-alt:hover{
    color: bisque;
}
  
  form> input[type=text]:focus + .search-btn{
    border:2px solid orange;
    border-left: none;
  }
  .search-btn {
    border:none;
    background:gray;
    color:white;
  }

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .fa-user-circle {color: bisque;}
.fa-bell:hover{color: bisque;}

.sidebar{
  margin-top: 75px;
  position: absolute;
  top:0;
  bottom:0;
  width: 270px;
  background-color: rgb(85, 85, 85);
  display: grid;
  grid-template-rows: 1fr 130px;
  grid-gap: 10px;
}
.cards-container{
  position: block;
  grid-row: 1;
  overflow-y: auto;
}
.cards-container::-webkit-scrollbar {
  width: 7px;

}
.cards-container::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 10px;
}
.cards-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(216, 216, 216);
  border-radius: 10px;
}

.info-block{
  
  padding: 10px;
  grid-row: 2;
  background-color: rgb(117, 117, 117);
  text-align: center;
  margin-left: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  border-radius: 15px;
  
}
.info-text{
  font-size: 25px;
  font-weight: bold;
}
.info-text::selection {
  color: orange;
  background-color: black;

 }
.info-icons{
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}
.info-icons a{
  text-decoration: none;
  color: black;
}

.info-icons i:hover{
  color: orange;
}
.sidebar-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(117, 117, 117);
  padding: 15px;
}
.sidebar-card a{
  display: block;
  flex: 1;
  text-decoration: none;
  color: black;
}
.card-conatiner :hover{
  background-color: rgb(117, 117, 117);
  border-radius: 10px;
}
.cat-avatar{
  width: 40px;
  border-radius: 50%;
}
.cat-avatar:hover{
  width: 40px;
  border-radius: 50%;
}
.streamer-name{
  padding: 5px;
  flex: 1;
  display: block;
  font-size: 21px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: bold;
}
.streamer-views{
  color: orange;
  font-size: 22px;
}
.blob {
  border-radius: 50%;
  margin: 5px;
  height: 10px;
  width:10px;
  transform: scale(1);
  background: rgba(255, 82, 82, 1);
  box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
  animation: pulse-red 2s infinite;
}
.blob:hover {
 
  background: rgba(255, 82, 82, 1);
  box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
}


@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }
  
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}



@media screen and (max-width: 1200px) {
  .sidebar{
    width: 100px;
  }
  .sidebar-card{
    position: relative;
  }
  
  .streamer-name{
    display: none;
  }
  .streamer-views{
    display: none;
  }
  .blob{
    position: absolute;
    right: 12px;
    bottom: 12px;
    height: 15px;
    width:15px;
  }
  .info-text{
    display: none;
  }
  .info-block{
    display: flex;
    justify-content: center;
  }
  .info-icons{
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
  }
  .cat-avatar{
    width: 65px;
  }
  .cat-avatar:hover{
    width: 65px;
  }
}
